<h1>{{title}}</h1>
<!--<app-book></app-book>-->
<!--<app-user-form></app-user-form>-->
<!--<app-parent></app-parent>-->
<!--<app-card>-->
<!--  <h3 class="card-header">ng-content</h3>-->
<!--  <p class="card-body">sdf sf s</p>-->
<!--  <app-child class="card-body"></app-child>-->
<!--</app-card>-->
<!--<app-learn-pipe></app-learn-pipe>-->
<!--<app-ip></app-ip>-->

<!--<app-sign-in></app-sign-in>-->
<a routerLink="/contacts">Contacts</a>
<a routerLink="/detail">Contact detail</a>
<router-outlet></router-outlet>
